<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>query</title>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<h5>4. Calculate the Maximum, Minimum, Summation, Average of Player's Cost in the team Real Madrid</h5><br><br>

<table class="bodered">
    <thead>
    <tr>
        <td>Max(Player Cost)</td>
        <td>Min(Player Cost)</td>
        <td>Sum(Player Cost)</td>
        <td>Avg(Player Cost)</td>

    </tr>
    </thead>
    <tbody>
    {% for line in cursor %}
        <tr>
            {% for x in line %}

                <td>{{ x }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<br><br><br>
<a href="{{ url_for('query5') }}"
   class="waves-effect waves-light btn right">NEXT
    <i class="material-icons right">arrow_forward</i></a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>