<!DOCTYPE html>
	<html lang="en">
	<head>

		<meta charset="UTF-8">
		<title>LOG FILE</title>
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
	
	<table class="bodered">
    <thead>
    <tr>
        <td>&nbspEmail ID</td>
		<td>Team Name</td>
		<td>Date</td>
		<td>Time</td>
    </tr>
    </thead>
    <tbody>
    
        <tr>
           

               <td>&nbsp abc@gmail.com</td>
			   <td>Real Madrid</td>
			   <td>06-11-2017</td>
			   <td>12:39:14</td>
            
        </tr>
    </tbody>
	</table>
	
	</body>
</html>