<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">   
   <title>Query-Output</title> 
    <!-- CSS-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">

    <style>
      html, body, .block {
        height: 100%;
      }
      nav ul li a:hover, nav ul li a.active {
        background-color: rgba(0,0,0,.1);
      }
      footer {
        padding-left: 0;
      }
    </style>
  </head>
  <body>
  <div id="blue" class="block blue">
  <nav class="pushpin-demo-nav" data-target="blue">
    <div class="nav-wrapper light-blue">
      <div class="container">
        <a href="#" class="brand-logo">Query 1</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question which we will type</div><br><br>
  <div>Here Goes the Answer fetched from database </div>
</div>

<div id="green" class="block green darken-1">
  <nav class="pushpin-demo-nav" data-target="green">
    <div class="nav-wrapper green">
      <div class="container">
        <a href="#" class="brand-logo">Query 2</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question </div><br><br>
  <div>Here Goes the Answer </div>
</div>

<div id="orange" class="block orange lighten-1">
  <nav class="pushpin-demo-nav" data-target="orange">
    <div class="nav-wrapper orange">
      <div class="container">
        <a href="#" class="brand-logo">Query 3</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question </div><br><br>
  <div>Here Goes the Answer </div>
</div>

<div id="deep-orange" class="deep-orange lighten-1">
  <nav class="pushpin-demo-nav" data-target="deep-orange">
    <div class="nav-wrapper deep-orange">
      <div class="container">
        <a href="#" class="brand-logo">Query 4</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question </div><br><br>
  <div>Here Goes the Answer </div>
</div>

<div id="grey" class="grey lighten-1">
  <nav class="pushpin-demo-nav" data-target="grey">
    <div class="nav-wrapper grey">
      <div class="container">
        <a href="#" class="brand-logo">Query 5</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question </div><br><br>
  <div>Here Goes the Answer </div>
</div>

<div id="light-green accent-3" class="light-green accent-1">
  <nav class="pushpin-demo-nav" data-target="light-green accent-3">
    <div class="nav-wrapper light-green accent-3 ">
      <div class="container">
        <a href="#" class="brand-logo">Query 6</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question </div><br><br>
  <div>Here Goes the Answer </div>
</div>

<div id="light-blue" class="block light-blue lighten-1">
  <nav class="pushpin-demo-nav" data-target="light-blue">
    <div class="nav-wrapper light-blue">
      <div class="container">
        <a href="#" class="brand-logo">Query 7</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question </div><br><br>
  <div>Here Goes the Answer </div>
</div>

<div id="pink accent-3" class="block pink accent-1">
  <nav class="pushpin-demo-nav" data-target="pink accent-3">
    <div class="nav-wrapper pink accent-3">
      <div class="container">
        <a href="#" class="brand-logo">Query 8</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question </div><br><br>
  <div>Here Goes the Answer </div>
</div>

<div id="indigo lighten-1" class="block indigo lighten-5">
  <nav class="pushpin-demo-nav" data-target="indigo lighten-1">
    <div class="nav-wrapper indigo lighten-1">
      <div class="container">
        <a href="#" class="brand-logo">Query 9</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question </div><br><br>
  <div>Here Goes the Answer </div>
</div>

<div id="red accent-2" class="block  red accent-1">
  <nav class="pushpin-demo-nav" data-target="red accent-2">
    <div class="nav-wrapper  red accent-2">
      <div class="container">
        <a href="#" class="brand-logo">Query 10</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question </div><br><br>
  <div>Here Goes the Answer </div>
</div>

<div id="amber lighten-1" class="block amber lighten-4">
  <nav class="pushpin-demo-nav" data-target="amber lighten-1">
    <div class="nav-wrapper amber lighten-1">
      <div class="container">
        <a href="#" class="brand-logo">Query 11</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question </div><br><br>
  <div>Here Goes the Answer </div>
</div>

<div id="grey lighten-1" class="block grey lighten-3">
  <nav class="pushpin-demo-nav" data-target="grey lighten-1">
    <div class="nav-wrapper grey lighten-1">
      <div class="container">
        <a href="#" class="brand-logo">Query 12</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question </div><br><br>
  <div>Here Goes the Answer </div>
</div>

<div id="deep-orange lighten-1" class="block deep-orange lighten-3">
  <nav class="pushpin-demo-nav" data-target="deep-orange lighten-1">
    <div class="nav-wrapper deep-orange lighten-1">
      <div class="container">
        <a href="#" class="brand-logo">Query 13</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question </div><br><br>
  <div>Here Goes the Answer </div>
</div>

<div id="green accent-3" class="block green accent-1">
  <nav class="pushpin-demo-nav" data-target="green accent-3">
    <div class="nav-wrapper green accent-3">
      <div class="container">
        <a href="#" class="brand-logo">Query 14</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question </div><br><br>
  <div>Here Goes the Answer </div>
</div>

<div id=" light-blue accent-3" class="block  light-blue accent-1">
  <nav class="pushpin-demo-nav" data-target=" light-blue accent-3">
    <div class="nav-wrapper  light-blue accent-3">
      <div class="container">
        <a href="#" class="brand-logo">Query 15</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question </div><br><br>
  <div>Here Goes the Answer </div>
</div>

<div id="grey lighten-1" class="block grey lighten-3">
  <nav class="pushpin-demo-nav" data-target="grey lighten-1">
    <div class="nav-wrapper grey lighten-1">
      <div class="container">
        <a href="#" class="brand-logo">Query 16</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!">Fetch Query</a></li>
          <li><a href="#!">Fetch Output</a></li>
           </ul>
      </div>
    </div>
  </nav>
  <div>Here Goes the question </div><br><br>
  <div>Here Goes the Answer </div>
</div>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js">
	</script>
	<script>
	 $('.pushpin-demo-nav').each(function() {
    var $this = $(this);
    var $target = $('#' + $(this).attr('data-target'));
    $this.pushpin({
      top: $target.offset().top,
      bottom: $target.offset().top + $target.outerHeight() - $this.height()
    });
  });
   $(document).ready(function(){
    $('.target').pushpin({
      top: 0,
      bottom: 1000,
      offset: 0
    });
  });
        
	</script>
	</body>
	</html>