{% extends "layout.html" %}
{% block content %}


    <br>
    <br>
    <div class="row" style="width: 50%;background-position: center">
        <div class="col s12 ">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Register</span>
                    <form action="" method=post class="form-horizontal">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="name" type="text" required name='username'
                                       value="{{ request.form.username }}">
                                <label for="name">Fullname</label>
                            </div>

                            <div class="input-field col s6">
                                <input id="phone" type="number" required name='phone' value="{{ request.form.phone }}">
                                <label for="phone">Phone Number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" required name='email' value="{{ request.form.email }}">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="password" type="password" required name="password">
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="cpassword" type="password" required name="cpassword">
                                <label for="cpassword">Confirm Password</label>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-success">Register</button>

                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>


{% endblock %}