{% extends "layout.html" %}
{% block content %}
    <br><br><br>
    <h5 align="center">Enter your username, and an email will be sent to the email address associated with that
        username if one exists.
    </h5>
    <div class="row" style="width: 50%;background-position: center">
        <div class="col s12 ">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Change Password</span>
                    {% if tad1==True %}
                        <div class="row" id="password123">
                            <form action="" method=post class="form-horizontal">

                                <div class="input-field col s4">
                                    <input id="phone" type="number" required name='phone'
                                           value="{{ request.form.phone }}">
                                    <label for="phone">Phone Number</label>
                                </div>

                                <button type="submit" class="btn" onclick="myFunction()">GET OTP</button>
                            </form>
                        </div>
                    {% endif %}
                    <div class="row" id="otp">
                        <form action="" method=post class="form-horizontal">

                            <div class="input-field col s4">
                                <input id="otp" type="number" required name="OTP">
                                <label for="otp">OTP</label>
                            </div>

                            <button type="submit" class="btn">Sumbit OTP</button>

                        </form>
                        {% if tad1 == True %}
                        <script>var y = document.getElementById("otp");
                        y.style.display = "none";</script>
                        {% endif %}
                    </div>


                    <script>
                        function myFunction() {
                            var x = document.getElementById("password123");

                            if (x.style.display === "none") {
                                x.style.display = "block";
                            } else {
                                var y = document.getElementById("otp");
                                y.style.display = "block";
                                x.style.display = "none";
                            }
                        }                    </script>

                </div>
            </div>
        </div>
    </div>
{% endblock %}